.contacts-list {
  @include normalize-list();

  display: flex;
  margin-right: 49px;
}

.contacts-list__item {
  padding-top: 7px;
}

.contacts-list__item:not(:last-child) {
  margin-right: 80px;
}

.contacts-list__link {
  position: relative;
  display: block;
  padding-top: 12px;
  padding-left: 40px;
  font-family: $font-secondary;
  color: $text-primary-color;

  &:hover,
  &:focus {
    color: rgba($text-primary-color, 0.6);
    outline: none;
  }

  @include set-custom-transition(color);
  @include set-font(16px, 18px);
}

.contacts-list__link svg {
  position: absolute;
}

.contacts-list__link--mail svg {
  left: 1px;
  bottom: 5px;
}

.contacts-list__link--phone svg {
  left: 7px;
  bottom: 2px;
}

@media (max-width: $desktop-width) {
  .contacts-list__link {
    font-size: 0;
  }

  .contacts-list__link svg {
    width: 24px;
    height: 24px;
    outline: 1px solid;
  }
}
