.contacts {
  background-color: $dodger-blue;
  background-repeat: no-repeat;
  background-image: url("../../img/triangles.svg");
  background-position: 225px -60px;
}

.contacts__inner {
  position: relative;
  padding-top: 91px;
  padding-bottom: 115px;
  display: flex;
  justify-content: flex-end;
}

.contacts__inner img {
  width: 511px;
  height: 288px;
  margin-top: 70px;
  margin-right: 100px;
}

.contacts__form-wrapper {
  width: 50%;
  padding-left: 12px;
}

.contacts__form {
  width: 83%;
}

.contacts__caption {
  margin: 0 0 13px;
}

.contacts__description {
  @include set-font(16px, 22px);

  display: block;
  font-family: $font-secondary;
  padding-left: 4px;
  margin: 0 0 50px;
}
