.feature-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 95px 40px 0 44px;

  width: 44.2%;
  min-height: 300px;
  margin-bottom: 30px;
  border: 1px solid #ebebeb;
  background-color: $white;

  background-repeat: no-repeat;
  background-position: 10px 10px;

  cursor: pointer;

  @include set-custom-transition(background-color);

  &::before {
    content: "";
    display: block;
    width: 3px;
    height: 100%;
    position: absolute;
    background-color: $dodger-blue;
    left: 0;
    top: 0;
  }
}

.feature-card:hover {
  background-color: $dodger-blue;
}

.feature-card:hover .feature-card__title,
.feature-card:hover .feature-card__description {
  color: $text-primary-color;
}

.feature-card:hover svg {
  fill: $white;
}

.feature-card svg {
  position: absolute;
  fill: $dodger-blue;
  left: 44px;
  top: 40px;
}

.feature-card--hat svg {
  top: 43px;
}

.feature-card:not(:nth-child(2n)) {
  margin-right: 30px;
}

.feature-card__title {
  margin: 0 0 18px;

  font-family: $font-primary;
  color: $text-secondary-color--title;

  @include set-font(24px, 34px);
}

.feature-card__description {
  margin: 0 0 65px;

  font-family: $font-secondary;
  color: $text-secondary-color;

  @include set-font(16px, 22px);
}

@media (max-width: $desktop-width) {
  .feature-card {
    width: 47.8%;
    padding: 68px 0 0 26px;
    min-height: auto;

    &--hat {
      padding: 64px 0 30px 26px;
    }
  }

  .feature-card__title {
    margin-bottom: 13px;

    @include set-font(24px, 34px, 400);
  }

  .feature-card--hat .feature-card__title {
    margin-bottom: 15px;
  }

  .feature-card--label .feature-card__title {
    margin-bottom: 7px;
  }

  .feature-card__description {
    margin-bottom: 26px;
    padding-right: 20px;
  }

  .feature-card svg {
    top: 26px;
    left: 28px;
  }

  .feature-card--guys svg {
    width: 32px;
    height: 32px;
    top: 24px;
  }

  .feature-card--hat svg {
    width: 30px;
    height: 26px;
  }

  .feature-card--label svg {
    width: 32px;
    height: 32px;
    top: 25px;
    left: 28px;
  }
}

@media (max-width: $tablet-width) {
  .feature-card {
    width: 100%;
    min-height: 312px;
    padding: 72px 0 0 26px;
  }

  .feature-card:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .feature-card:not(:last-child) {
    margin-bottom: 18px;
  }

  .feature-card__title {
    margin-bottom: 12px;

    @include set-font(20px, 28px, 400);
  }

  .feature-card__description {
    padding-right: 15px;

    @include set-font(16px, 22px);
  }

  .feature-card--guys .feature-card__description {
    padding-right: 0;
  }

  .feature-card--hat {
    min-height: 232px;
    padding-top: 65px;
    padding-right: 20px;
  }

  .feature-card--label {
    min-height: 244px;
  }

  .feature-card--label .feature-card__title {
    margin-bottom: 12px;
  }
}
