.features {
  position: relative;
  margin-bottom: 75px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 120px;

  &::after {
    content: "";
    display: block;
    width: 636px;
    height: 636px;
    position: absolute;
    top: 239px;
    left: 34%;
    transform: scale(-1, 1);
    z-index: -1;
    background-repeat: no-repeat;
    background-image: url("../img/triangle.svg");
    background-size: cover;
  }
}

.features__item:first-child {
  &::after {
    content: "";
    display: block;
    width: 299px;
    height: 299px;
    position: absolute;
    top: -70px;
    left: -170px;
    z-index: -1;
    background-repeat: no-repeat;
    background-image: url("../img/triangle.svg");
  }
}

.features__item:last-child {
  &::after {
    content: "";
    display: block;
    width: 299px;
    height: 299px;
    position: absolute;
    top: 20px;
    left: 108%;
    transform: scale(-1, 1);
    z-index: -1;
    background-repeat: no-repeat;
    background-image: url("../img/triangle.svg");
  }
}

@media (max-width: $desktop-width) {
  .features {
    margin-bottom: 20px;
    position: relative;
  }

  .features__list {
    padding: 0;
  }

  .features__list::after {
    display: none;
  }

  .features__item:first-child::after {
    display: none;
  }

  .features__item:last-child::after {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .features__list {
    display: block;
  }
}
