.feature-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 99px 0 0 47px;

  width: 570px;
  min-height: 299px;
  margin-bottom: 30px;
  border: 1px solid #ebebeb;

  &::before {
    content: "";
    display: block;
    width: 3px;
    height: 100%;
    position: absolute;
    background-color: $dodger-blue;
    left: 1px;
    top: 0;
  }
}

.feature-card:not(:nth-child(2n)) {
  margin-right: 35px;
}

.feature-card__title {
  margin: 0 0 20px;

  font-family: $font-primary;
  color: $text-secondary-color--title;

  @include set-font(24px, 34px);
}

.feature-card__description {
  margin: 0 0 65px;

  font-family: $font-secondary;
  color: $text-secondary-color;

  @include set-font(16px, 22px);
}
