.footer-address__title {
  margin: 0 0 26px;
  padding-left: 2px;
  padding-top: 6px;
}

.footer-address__text {
  margin: 0;
  font-family: $font-secondary;
  color: rgba(#1b2d37, 0.5);

  @include set-font(15px, 25px);
}

.footer-address__items {
  display: flex;
  flex-direction: column;
}

.footer-address__item {
  margin: 0;
  font-family: $font-secondary;
  color: rgba(#1b2d37, 0.5);

  @include set-font(15px, 25px);
}

.footer-address__link {
  font-family: $font-secondary;
  color: rgba(#1b2d37, 0.5);

  &:hover,
  &:focus {
    color: rgba(#1b2d37, 0.3);
  }

  &:active {
    color: rgba(#1b2d37, 0.1);
  }

  @include set-custom-transition(color);
  @include set-font(15px, 25px);
}

@media (max-width: $desktop-width) {
  .footer-address__title {
    padding-top: 0;
  }
}
