.footer-social {
  padding-top: 25px;
}

@media (max-width: $desktop-width) {
  .footer-social {
    padding-top: 18px;
    margin-bottom: 39px;
  }
}

@media (max-width: $tablet-width) {
  .footer-social {
    margin-bottom: 51px;
  }
}
