.footer-links {
  width: 36%;
}

.footer-links__title {
  margin-bottom: 26px;
  padding-left: 4px;
  letter-spacing: 0.05em;

  @include set-font(15px, 16px);
}

.footer-links__list {
  @include normalize-list();

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 102px;
  padding-left: 2px;

  @media (max-width: 1160px) {
    max-height: 100%;
  }
}

.footer-links__link {
  font-family: $font-secondary;
  color: rgba(#1b2d37, 0.5);

  @include set-font(15px, 25px);
}
