.footer-address {
  padding-top: 25px;
  padding-left: 19px;
}

.footer-address__title {
  margin: 0 0 26px;
  font-family: $font-primary;

  @include set-font(15px, 16px);
}

.footer-address__items {
  display: flex;
  flex-direction: column;
}

.footer-address__item {
  font-family: $font-secondary;
  color: rgba(#1b2d37, 0.5);
  margin: 0;

  @include set-font(15px, 25px);
}

.footer-address__link {
  font-family: $font-secondary;
  color: rgba(#1b2d37, 0.5);

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include set-font(15px, 25px);
}

@media (max-width: $tablet-width) {
  .footer-address {
    padding: 0;
  }

  .footer-address__items {
    display: none;
    padding: 5px 40px 20px 15px;
    margin-bottom: 18px;

    &--nojs,
    &--show {
      display: flex;
    }
  }

  .footer-address__title {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}
