.footer-address {
  padding-top: 25px;
  padding-left: 19px;
}

.footer-address__title {
  margin: 0 0 26px;
  font-family: $font-primary;

  @include set-font(15px, 16px);
}

.footer-address__items {
  display: flex;
  flex-direction: column;
}

.footer-address__item {
  font-family: $font-secondary;
  color: rgba(#1b2d37, 0.5);
  margin: 0;

  @include set-font(15px, 25px);
}

.footer-address__link {
  font-family: $font-secondary;
  color: rgba(#1b2d37, 0.5);

  @include set-font(15px, 25px);
}
