.footer-info {
  border-top: 1px solid rgba(#626962, 0.2);
}

.footer-info__inner {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.footer-info__item {
  margin: 0 0 15px;
  font-family: $font-secondary;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgba(#1b2d37, 0.5);

  @include set-font(13px, 24px);

  &--rights {
    margin-right: 70px;
  }

  &--copyright {
    margin-right: 140px;
  }

  &--developer {
    margin-left: auto;
  }
}
