.footer-links {
  width: 36%;
}

.footer-links__list {
  @include normalize-list();

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 2px;

  @media (max-width: 1300px) {
    flex-direction: column;
  }
}

.footer-links__item {
  min-width: 39%;
}

.footer-links__link {
  font-family: $font-secondary;
  color: rgba(#1b2d37, 0.5);

  @include set-font(15px, 25px);

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer-links__title {
  margin-bottom: 26px;
  padding-left: 4px;
  letter-spacing: 0.05em;

  @include set-font(15px, 16px);
}

@media (max-width: $desktop-width) {
  .footer-links__item {
    &--about,
    &--products,
    &--manufacturing,
    &--installation {
      order: 0;
    }

    &--parts,
    &--delivery,
    &--contacts {
      order: 1;
    }
  }
}


@media (max-width: $tablet-width) {
  .footer-links {
    width: 100%;
  }

  .footer-links__title {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  .footer-links__list {
    display: none;
    padding: 5px 40px 20px 15px;

    &--nojs,
    &--show {
      display: flex;
    }
  }
}
