.form fieldset {
  border: none;
}

.form div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  border: none;
}

.form input {
  padding: 14px 21px 18px;
  background-color: rgba($white, 0.1);
  border: none;

  margin-bottom: 38px;

  @include set-custom-transition(background-color);

  &::placeholder {
    font-family: $font-secondary;
    color: $text-primary-color;

    @include set-font(16px, 22px);
  }

  &:hover,
  &:focus {
    background-color: rgba($white, 0.2);
    outline: none;
  }
}

.form div input {
  width: 47.6%;
}

.form textarea {
  width: 100%;
  min-height: 155px;
  margin-bottom: 35px;
  padding: 14px 20px 15px;
  border: none;
  background-color: rgba($white, 0.1);
  resize: none;

  &::placeholder {
    font-family: $font-secondary;
    color: $text-primary-color;

    @include set-font(16px, 22px);
  }

  &:hover,
  &:focus {
    background-color: rgba($white, 0.2);
    outline: none;
  }
}

.form button {
  width: 47.2%;
  padding: 15px 30px 13px;
  vertical-align: middle;
  margin-left: 3px;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 5px;

  font-family: $font-primary;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  &:hover,
  &:focus {
    background-color: $white;
    color: $text-secondary-color;
    outline: none;
  }

  &:active {
    opacity: 0.6;
  }

  @include set-custom-transition(background-color);
  @include set-font(14px, 16px, 700);
}

.form label {
  position: relative;
  width: 47.5%;
  padding: 11px 15px 3px 42px;
  font-family: $font-secondary;
  color: rgba($white, 0.8);
  cursor: pointer;

  @include set-font(14px, 16px);

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid $white;
  }
}

/*
.form label + input {
  width: 0;
}
*/

.form input[type="checkbox"] {
  appearance: none;
  position: absolute;
  width: 1px;

  &::-ms-check {
    display: none;
  }
}

.form input[type="checkbox"]:not(:disabled):hover ~ label::before,
.form input[type="checkbox"]:not(:disabled):focus ~ label::before {
  border: 1px solid rgba($white, 0.6);
}

.form input[type="checkbox"]:not(:disabled):active ~ label::before {
  border: 1px solid rgba($white, 0.3);
}

.form input[type="checkbox"]:checked ~ label::after {
  content: "";
  display: block;
  width: 8px;
  height: 5px;
  position: absolute;
  top: 16px;
  left: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/checkbox-tick.svg");
}

@media (max-width: $desktop-width) {
  .form input {
    margin-bottom: 41px;
  }

  .form textarea {
    min-height: 160px;
    margin-bottom: 39px;
  }
}
