.logo-set {
  display: flex;
  align-items: center;
  background-color: flex-start;
}

.logo-set img {
  display: block;

  margin-right: 15px;
}

.logo-set__wrapper {
  padding-top: 5px;
}

.logo-set__title {
  margin: 0 0 2px;
  font-family: $font-primary;

  @include set-font(25px, 29px, 700);
}

.logo-set__tagline {
  margin: 0;

  font-family: "Roboto", "Arial", sans-serif;
  color: $text-primary-color--dark;
  text-transform: lowercase;

  @include set-font(12px, 14px);
}

.logo-set--footer .logo-set__title {
  color: #203c42;
}

.logo-set--footer .logo-set__tagline {
  color: #788891;
}

@media (max-width: $desktop-width) {
  .logo-set {
    padding: 0;
  }
}

@media (max-width: $tablet-width) {
  .logo-set {
    width: 45px;
    height: 45px;
    padding: 5px 0 0 0;

    &--footer {
      width: 246px;
      height: 52px;
      margin-top: 28px;
      margin-left: 33px;
    }
  }

  .logo-set img {
    width: 38px;
    height: 38px;
  }

  .logo-set--footer img {
    width: 52px;
    height: 52px;
  }

  .logo-set__title,
  .logo-set__tagline {
    display: none;
  }

  .logo-set--footer .logo-set__title,
  .logo-set--footer .logo-set__tagline {
    display: block;
  }
}
