.main-nav {
  margin-bottom: 172px;
}

.main-nav__inner {
  display: flex;
  justify-content: space-between;
}

.main-nav__right {
  display: flex;
}

.main-nav__call-request {
  margin-top: 5px;
  color: $text-primary-color;
}

@media (max-width: $desktop-width) {
  .main-nav {
    margin-bottom: 37px;
  }

  .main-nav__right {
    width: 20%;
    justify-content: flex-end;
  }

  .main-nav__call-request {
    display: none;
  }

  .main-nav__logo {
    padding-left: 5px;
  }
}
