.page-footer__inner {
  display: flex;
  padding-top: 60px;
}

.page-footer__inner:not(:last-child) {
  margin-bottom: 53px;
}

.page-footer__logo {
  margin-bottom: 53px;
  padding-top: 5px;
  width: 250px;
}

.page-footer__site-sections {
  padding-top: 5px;
  padding-left: 25px;
  margin: 0 auto;
}

@media (max-width: $desktop-width) {
  .page-footer__inner {
    padding-top: 14px;
    flex-direction: column;
    //align-items: flex-end;
  }

  .page-footer__useful-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #626962;
  }

  .page-footer__logo {
    width: auto;
    margin-bottom: 0;
  }
}

/**/
