.page-footer {
  width: 100%;
}

.page-footer__row {
  display: flex;
  width: 100%;
  padding-bottom: 55px;
  border: 1px solid #ececec;

  &--links {
    padding-top: 40px;
  }
}

.page-footer__inner {
  width: 100%;
  display: flex;
}

.page-footer__logo {
  margin-bottom: 52px;
}

.page-footer__social {
  margin-left: -2px;
  margin-right: 205px;
}

.page-footer__links {
  padding-top: 10px;
}

.page-footer__additional-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.page-footer__additional {
  font-family: $font-secondary;
  color: rgba(#1b2d37, 0.5);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-top: 7px;

  &--rights {
    margin-right: 5%;
  }

  &--copyright {
    margin-right: 10%;
  }

  &--developer {
    margin-left: auto;
  }

  @include set-font(13px, 24px);
}
