.page-footer {
  color: red; /* */
}

.page-footer__inner {
  display: flex;
  padding-top: 60px;
}

.page-footer__logo {
  margin-right: 170px;
  margin-bottom: 53px;
  padding-top: 5px;
  width: 250px;
}

.page-footer__site-sections {
  padding-top: 5px;
  margin-right: 140px;
}

.page-footer__address {
}

.page-footer__title {

}
