.promo {
  overflow: hidden;
  padding-top: 60px;
  background-repeat: no-repeat;
  background-image: url("../../img/triangles.svg");
  background-position: 80% -140px;
}

.promo__content {
  max-width: 53%;
  z-index: 2;
}

.promo__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 227px;
  margin-bottom: 50px;
}

.promo__inner img {
  position: absolute;
  top: -60px;
  right: -50px;
  z-index: 1;
}

.promo__title {
  margin: 0;

  font-family: $font-primary;
  text-transform: uppercase;
  letter-spacing: 0.07em;

  margin-left: -5px;
  margin-bottom: 29px;

  @include set-font(80px, 94px, 700);
}

.promo__description {
  position: relative;
  margin: 0;
  padding-left: 94px;
  margin-bottom: 43px;

  font-family: $font-secondary;
  text-transform: lowercase;

  @include set-font(22px, 34px);

  &::before {
    content: "";
    display: block;
    width: 66px;
    height: 2px;
    background-color: $bg-secondary-color;
    position: absolute;
    left: 0;
    top: 14px;
  }
}

.promo__btn {
  display: block;
  width: 410px;
  margin-left: 91px;
}

.promo__scroll-down {
  position: absolute;
  left: -25px;
  bottom: 76px;
}

@media (max-width: $desktop-width) {
  .promo {
    padding-top: 117px;
    background-position: 441px -124px;
    background-size: 530px 530px;
  }

  .promo__content {
    max-width: 60%;
  }

  .promo__inner {
    position: relative;
    padding-left: 95px;
    padding-bottom: 87px;
  }

  .promo__inner img {
    width: 465px;
    height: 340px;
    position: relative;
    right: -4%;
    top: -76px;
  }

  .promo__title {
    @include set-font(60px, 70px, 700);
  }

  .promo__description {
    padding-top: 2px;
    padding-left: 45px;
    margin-bottom: 55px;

    @include set-font(18px, 28px);

    &::before {
      left: -4px;
      top: 18px;
      width: 33px;
    }
  }

  .promo__btn {
    padding: 20px 12px;
    margin-left: 45px;
    width: 380px;
  }

  .promo__scroll-down {
    display: none;
  }
}
