.promo {
  overflow: hidden;
  padding-top: 60px;
  background-repeat: no-repeat;
  background-image: url("../../img/triangles.svg");
  background-position: 80% -140px;
}

.promo__content {
  max-width: 53%;
  z-index: 2;
}

.promo__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 227px;
  margin-bottom: 50px;
}

.promo__inner img {
  position: absolute;
  top: -60px;
  right: -50px;
  z-index: 1;
}

.promo__title {
  margin: 0;

  font-family: $font-primary;
  text-transform: uppercase;
  letter-spacing: 0.07em;

  margin-left: -5px;
  margin-bottom: 29px;

  @include set-font(80px, 94px, 700);
}

.promo__description {
  position: relative;
  margin: 0;
  padding-left: 94px;
  margin-bottom: 43px;

  font-family: $font-secondary;
  text-transform: lowercase;

  @include set-font(22px, 34px);

  &::before {
    content: "";
    display: block;
    width: 66px;
    height: 2px;
    background-color: $bg-secondary-color;
    position: absolute;
    left: 0;
    top: 14px;
  }
}

.promo__btn {
  display: block;
  width: 410px;
  margin-left: 91px;
}

.promo__scroll-down {
  position: absolute;
  left: -25px;
  bottom: 76px;
}
