.site-sections__inner {
  display: flex;
}

.site-sections__title {
  margin: 0 0 26px;
  padding-left: 3px;
}

.site-sections__list {
  @include normalize-list();

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 516px;
}

.site-sections__item {
  min-width: 207px;
}

.site-sections__item:not(:last-child) {
  margin-bottom: 1px;
}

.site-sections__link {
  font-family: $font-secondary;
  color: rgba(#1b2d37, 0.5);

  &:hover,
  &:focus {
    color: rgba(#1b2d37, 0.3);
  }

  &:active {
    color: rgba(#1b2d37, 0.1);
  }

  @include set-custom-transition(color);
  @include set-font(15px, 25px);
}

@media (max-width: $desktop-width) {
  .site-sections__inner {
    display: flex;
  }

  .site-sections__wrapper {
    width: 50.4%;
  }

  .site-sections__list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 180px;
    max-width: auto;
  }

  .site-sections__item:not(:last-child) {
    margin-bottom: 0;
  }
}
