.social-list {
  @include normalize-list();

  display: flex;
}

.social-list__item {
  width: 27px;
  height: 27px;
}

.social-list__item:not(:last-child) {
  margin-right: 15px;
}

.social-list__link {
  display: block;

  @include set-custom-transition(fill);

  &:hover,
  &:focus {
    outline: none;
  }
}

.social-list__link svg {
  fill: #cdcdcd;
}

.social-list__link:hover svg,
.social-list__link:focus svg {
  fill: rgba(#cdcdcd, 0.6);
}

.social-list__link:active svg {
  fill: rgba(#cdcdcd, 0.3);
}

@media (max-width: $desktop-width) {
  .social-list {
    align-items: center;
  }
}
