// Цветовые

$white: #ffffff;
$black: #000000;
$dodger-blue: #00b2ff;

$bg-primary-color: #1b2d37;
$bg-secondary-color: #e5e5e5;
$bg-secondary-color--contacts: $dodger-blue;

$text-primary-color: $white;
$text-primary-color--dark: rgba($white, 0.5);
$text-secondary-color: #666666;
$text-secondary-color--title: $dodger-blue;

/* Шрифтовые переменные */

$font-primary: "Roboto Condensed", "Arial", sans-serif;
$font-secondary: "PT Mono", "Arial", sans-serif;

$font-default-size: 16px;

// Брейкпоинты

$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;

$desktop-wrapper-width: 1471px;

/* Retina */

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
